<p>
  Este blog no utiliza anuncios, si lo deseas, puedes realizar una aportacion directa en la plataforma de tu preferencia
</p>
<div class="d-inline-block">
<a title="Donation Alerts" href="https://www.donationalerts.com/r/nelsonruby">
  <img height="120" width="120" src="https://static.donationalerts.ru/uploads/qr/4790405/qr_9cba0d03a095c1e62877f366c2d5115e.png" alt="donationalerts">
</a>
</div>
<div class="d-inline-block">
<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Aporta en Ko-fi', '#e80734', 'F2F82RI14');kofiwidget2.draw();</script>
</div>
<div class="d-inline-block">
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="rubyvania" data-color="#FF5F5F" data-emoji=""  data-font="Inter" data-text="Comprame un cafe" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
</div>
