---

---
<header class="header text-center">
  <h1 class="blog-name pt-lg-4 mb-0">
    <a href="/index.html">Rubyvania Blog</a>
  </h1>

  <nav class="navbar navbar-expand-lg navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navigation" class="collapse navbar-collapse flex-column">
      <div class="profile-section pt-3 pt-lg-0">
        <img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/images/me.jpeg" alt="image">

        <div class="bio mb-3">
          Hola, soy Nelson Uribe. Desarrollador web con prioridad en codigo mantenible y testeable.<br>
          <a href="/about.html">Descubre mas sobre mi</a>
        </div>
        <!--//bio-->
        <ul class="social-list list-inline py-3 mx-auto">
          <li class="list-inline-item">
            <a target="_blank" href="https://twitter.com/NelsonBelmont">
              <i class="fab fa-twitter fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://www.linkedin.com/in/nelson-uribe-a86083136/">
              <i class="fab fa-linkedin-in fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://github.com/UribeNelson">
              <i class="fab fa-github-alt fa-fw"></i>
            </a>
          </li>
        </ul>
        <!--//social-list-->
        <hr>
      </div>
      <!--//profile-section-->

      <ul class="navbar-nav flex-column text-left">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">
            <i class="fas fa-home fa-fw mr-2"></i>Blog
          </a>
        </li>
        {% for post in site.posts limit:1 %}
        <li class="nav-item">
          <a class="nav-link" href="{{post.url}}">
            <i class="fas fa-bookmark fa-fw mr-2"></i>Post mas reciente
          </a>
        </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="/about.html">
            <i class="fas fa-user fa-fw mr-2"></i>Acerca de mi
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>